button{
		height:100px;
		width:400px;
		font-family:monotype Corsiva;
		font-size:70px;
		padding-right:30;
		padding-left:50;
		margin-left:50px;
		margin-right:40px;
		background-color:#e600e6;
		border-radius:12px;
		color:black;
		transition:all 0.5s;
		border:2px solid #555555;
		box-shadow:0 18px 36px 0 
		rgba(0,0,0,0.24),0 15px 30px 0
		rgba(0,0,0,0.50);
}
h1.TE{
	font-size:120px;
	font-family:algerian;
	color:#254d36;
}
h1.sc{
		font-size:40px;
		font-family:verdana;
		color:#0F472D;
}
button{
			cursor:pointer;
			display:inline-bloack;
			position:relative;
			transition:0.5s;

}
button:hover{
  padding-right: 25px;
  background-color:#00e673;
  color:black;
}
button:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover :after {
  opacity: 1;
  right: 0;
}